@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#104f97 0%, #131314 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4.2rem;
  color: #c4c4c4;
}

.btn-play {
  background: #104f97;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 1.5rem;
  width: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background 0.25s, transform 0.5s;
}

.btn-play:hover {
  background: #0d335f;
  color: #ffffffc5;
}

.btn-play:focus {
  outline: none;
}

.btn-play:active {
  transform: translateY(5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fa-play {
  margin-right: 1rem;
}
